 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 body {
   font-family: "Poppins", sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: linear-gradient(135deg, #232526, #414345);
 }

 .container {
   display: flex;
   width: 90%;
   height: 80vh;
   gap: 15px;
 }

 .panel {
   position: relative;
   flex: 1;
   overflow: hidden;
   border-radius: 20px;
   cursor: pointer;
   transition: all 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
 }

 /* Image styling */
 .panel img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: all 0.8s ease;
   opacity: 0.6;
   filter: blur(2px) brightness(0.7);
 }

 /* Text styling */
 .panel h1,
 .panel p {
   position: absolute;
   color: #fff;
   left: 30px;
   opacity: 0;
   transition: opacity 0.8s ease, transform 0.6s ease;
   text-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
 }

 .panel h1 {
   bottom: 70px;
   font-size: 1.8rem;
   transform: translateY(20px);
 }

 .panel p {
   bottom: 30px;
   font-size: 1rem;
   transform: translateY(20px);
 }

 .panel.active {
   flex: 3;
 }

 .panel.active img {
   transform: scale(1.1);
   opacity: 4;
   filter: blur() brightness(1);
 }

 .panel.active h1,
 .panel.active p {
   opacity: 1;
   transform: translateY(0);
 }

 .panel:hover {
   transform: translateY(-5px);
 }