:root {
    --bg: #000;
    --card: #111;
    --text: #fff;
    --line: rgba(255, 255, 255, .2);
}

body {
    margin: 0;
    height: 100vh;
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Segoe UI, sans-serif;
}

/* CLOCK */
.clock {
    display: flex;
    gap: 20px;
    align-items: center;
}

.box {
    width: 350px;
    height: 350px;
    background: var(--card);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .7);
}

.box::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--line);
}

.time {
    font-size: 250px;
    font-weight: 800;
    color: var(--text);
    animation: flip .6s ease;
}

/* @keyframes flip{
  0%{transform:rotateX(90deg);}
  100%{transform:rotateX(0);}
} */

.colon {
    font-size: 70px;
    color: var(--text);
}

.ampm {
    color: var(--text);
    font-size: 28px;
    font-weight: 700;
    margin-left: 10px;
}

/* THEME BUTTONS */
.controls {
    position: fixed;
    bottom: 30px;
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

/* Responsive */
@media(max-width:600px) {
    .box {
        width: 100px;
        height: 120px;
    }

    .time {
        font-size: 50px;
    }

    .colon {
        font-size: 45px;
    }
}