* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
  min-height: 100vh;
  transition: background 0.5s ease;
  color: #fff;
}

/* BACKGROUNDS */
.default-bg { background: linear-gradient(135deg, #1f3c4b, #2c5364); }
.clear-bg { background: linear-gradient(135deg, #56ccf2, #2f80ed); }
.clouds-bg { background: linear-gradient(135deg, #757f9a, #d7dde8); }
.rain-bg { background: linear-gradient(135deg, #373b44, #4286f4); }
.snow-bg { background: linear-gradient(135deg, #83a4d4, #b6fbff); }
.mist-bg { background: linear-gradient(135deg, #606c88, #3f4c6b); }

.header {
  text-align: center;
  padding: 20px;
}

.container {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 35px rgba(0,0,0,0.25);
}

.input-card input,
.input-card button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
}

.search-btn {
  background: #ffb703;
  color: #000;
  cursor: pointer;
}

.location-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 100%;
  padding: 12px;
  border-radius: 12px;
  background: rgba(255,255,255,0.12);
  border: 1px solid rgba(255,255,255,0.4);
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.location-btn:hover {
  background: rgba(255,255,255,0.22);
  transform: translateY(-1px);
}

.location-btn:active {
  transform: scale(0.98);
}

.loc-icon {
  display: flex;
  align-items: center;
}


.separator {
  text-align: center;
  margin: 12px 0;
  opacity: 0.8;
}

.weather-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.current-weather img {
  width: 90px;
}

.temp {
  font-size: 60px;
  font-weight: bold;
}

.forecast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 15px;
  list-style: none;
}

.forecast li {
  text-align: center;
}

.forecast img {
  width: 50px;
  margin: 10px 0;
}
