body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, rgba(198, 141, 166, 1) 29%, rgba(148, 187, 233, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* MAIN CARD */
.container {
    background: radial-gradient(circle, rgba(34, 30, 32, 1) 0%, rgba(148, 187, 233, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 35px;
    border-radius: 12px;
    width: 360px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

h1 {
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
    background: radial-gradient(ellipse farthest-corner at center center, #080D58 49%, #FF9DFD 59%, #230403 48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
}

input {
    margin-bottom: 15px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    font-size: 16px;
    background: #6076cf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #6b5a74;
}

#result {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

/* INVOICE */
.invoice {
    display: none;
    margin-top: 20px;
    background: #858e92;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
}

.invoice p {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
}
