* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* background-color: #faf6f3; */
    /* background-image: url("main.png"); */
    color: #fff;
}

/* --- Header --- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    /* background: rgba(187, 140, 140, 0.8); */
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2000;
}

header img {
    height: 45px;
}
.nav-menu{
    display: flex;
    gap: 20px;
    margin-right: 60%;
    font-weight: 700;
   
}
.nav-menu a{
    text-decoration: none;
    color: rgb(190, 110, 18);
    font-size: 20px;
}

.logo {
    /* margin-top: 25px;
    width: 100px;
    align-items: center; */

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
#navbar {
    display: flex;
     align-items: center; 
    gap: 25px;
}

#navbar a {
    font-size: 20px;
    color: #4a2c2a;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

#navbar a:hover {
    color: #d46032;
} 
.navbar.active{
    left: 0;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-nav {
    background-color: #b85c38;
    color: #fff;
    padding: 8px 18px;
    border-radius: 25px;
    font-weight: 600;
    text-decoration: none;
    transition: background 0.3s ease;
}

.btn-nav:hover {
    background-color: #8f4328;
}

.time-text {
    font-size: 1.8rem;
    align-items: center;
    color: #000;
    font-weight: 500;
    margin: 5px 0;
}

/* --- Profile Dropdown --- */
.profile-menu {
    position: relative;
}

.profile-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #b85c38;
    cursor: pointer;
    object-fit: cover;
}

.dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #ea8755;
    color: #4a2c2a;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    min-width: 160px;
    overflow: hidden;
    z-index: 30;
    font-size: 15px;
    font-weight: 500 bold;
}

.dropdown a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #4a2c2a;
    transition: background 0.3s ease;
    font-weight: 500;
}

.dropdown a:hover {
    background-color: #f5d7b2;
}

.dropdown.active {
    display: block;
}

.hero {
    height: 100vh;
    background-image: url('asstes/main.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 24, 22, 0.55);
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 700px;
}

.hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    color: #f5d7b2;
}

.hero h1 span {
    color: #ffb347;
}

.hero p {
    margin: 1.5rem 0;
    font-size: 1.1rem;
    color: #fff;
}

.buttons {
    margin-top: 1.5rem;
}

.btn {
    padding: 10px 24px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.btn.primary {
    background-color: #b85c38;
    color: #fff;
}

.btn.primary:hover {
    background-color: #8f4328;
}

.btn.secondary {
    border: 2px solid #b85c38;
    color: #b85c38;
}

.btn.secondary:hover {
    background-color: #b85c38;
    color: #fff;
}

.menu-toggle {
   display: none;
   cursor: pointer;
   z-index: 3000;
}

.menu-toggle span {
    width: 30px;
    height: 4px;
    background: white;
    margin: 5px 0;
    display: block;
    border-radius: 3px;
    transition: 0.4s;
}

.menu-toggle.active span:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;   /* middle line disappears */
}

.menu-toggle.active span:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}
@media (max-width: 480px) {
    .time h1 {
        font-size: 14px;
    }
}

@media (max-width: 768px) {

    /* Show hamburger */
    .menu-toggle {
        display: block;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        left: -300px;
        width: 300px;
        height: 100%;
        background: rgba(199, 113, 21, 0.85);
        backdrop-filter: blur(12px);
        padding-top: 80px;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        transition: left 0.3s ease;
        z-index: 2500;
    }

    .nav-menu.active {
        left: 0;
    }

    header .nav-menu {
        position: fixed;
    }
}



.vintage-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 180px;
    padding: 120px 100px 80px;
    position: relative;
    background-image: url("svg.png"), linear-gradient(#f68215, #d86b14);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.text-container {
    max-width: 550px;
}

.text-container h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.1;
    color: #000;
}

.text-container p {
    background-color: #d1792a;
    color: #000;
    padding: 12px 16px;
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.5;
    display: inline-block;
    border-radius: 4px;
}


.coffee-story {
    display: inline-block;
    margin-top: 25px;
    padding: 14px 28px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 0 #d1792a;
    text-decoration: none;
}

.coffee-story:hover {
    background-color: #d1792a;
    color: #000;
    box-shadow: 0 4px 0 #000;
    transform: translateY(-2px);
}


.cup-container {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coffee-cup {
    position: relative;
    width: 600px;
    margin-left: 100px;
    cursor: pointer;
    animation: cupFloat 3s ease-in-out infinite;
}

.coffee-cup img {
    width: 100%;
    transform: rotate(-18deg);
    filter: drop-shadow(0 20px 30px rgba(0, 0, 0, 0.35));
}

@keyframes cupFloat {
    0% {
        transform: translateY(-5px) rotate(-18deg);
    }

    50% {
        transform: translateY(-18px) rotate(-14deg);
    }

    100% {
        transform: translateY(-5px) rotate(-18deg);
    }
}

.coffee-splash {
    display: none;
}

@media (max-width: 900px) {
    .vintage-section {
        flex-direction: column;
        text-align: center;
        padding: 60px 30px;
    }

    .cup-container {
        margin-top: 40px;
    }

    .coffee-cup {
        width: 260px;
    }

    .text-container h1 {
        font-size: 40px;
    }
}

@media (max-width: 500px) {
    .text-container h1 {
        font-size: 32px;
    }

    .coffee-cup {
        width: 200px;
    }
}


.third {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 60px 5%;
    background-color: rgb(235, 230, 221);
}

.third-container img {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    max-width: 100%;
    transition: transfrom 0.3 ease;
    cursor: pointer;
}

.third-container img:hover {
    transform: scale(1.05);
}

.third-text {
    max-width: 750px;
}

.third-text h1 {
    color: black;
    font-size: 80px;
    font-weight: 500 bold;
    line-height: 1.2;
    margin-bottom: 20px;
}

.third-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 25px;
    color: #555;
}


.third-button {
    height: 65px;
    padding: 12px 28px;
    /* border-color: #d86b14; */
    border: 3px solid #d86b14;
    background-color: #ffffff;
    color: rgb(11, 11, 11);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}

.third-button:hover {
    background-color: rgb(18, 191, 226);
    color: white;
    border: none;
}

@media(max-width: 756px) {
    .third {
        flex-direction: column;
        text-align: center;
    }

    .third-text {
        max-width: 100%;
    }

}

.coffee-services {
    background-color: #d17a40;
    text-align: center;
    padding: 0;
    position: relative;
}

.wave-top,
.wave-bottom {
    width: 100%;
    display: block;
}

.services-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    padding: 60px 5%;
    flex-wrap: wrap;
}

.service-card {
    width: 350px;
    color: #1A1A1A;
    text-align: center;
}

.coffee-icon {
    width: 150px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.coffee-icon:hover {
    transform: scale(1.15);
}

.service-card h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #0A0A0A;
}

.service-card p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 25px;
    color: #111;
}

.coffee-btn {
    padding: 12px 28px;
    background: #FFFFFF;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 800;
    height: 70px;
    width: 200px;
    cursor: pointer;
    transition: 0.3s ease;
}

.coffee-btn:hover {
    background-color: rgb(0, 221, 255);
    transform: scale(1.08);
}

@media (max-width: 768px) {
    .services-wrapper {
        gap: 40px;
        padding: 40px 20px;
    }

    .service-card {
        width: 100%;
        max-width: 350px;
    }
}


.coffee-types {
    padding: 120px 10%;
    text-align: center;
    background-color: #f5e7d8;
}

.coffee-heading h1 {
    font-size: 80px;
    font-weight: 1000;
    margin-bottom: 10px;
    color: #5a3a1e;
}

.coffee-heading p {
    font-size: 18px;
    color: #34312e;
    margin-bottom: 50px;
}

.coffee-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.coffee-card {
    background: #ffffff;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
    transition: 0.35s ease;
    border: 2px solid transparent;
    cursor: pointer;
}

.coffee-card:hover {
    transform: translateY(-10px);
    border-color: #d17a40;
    box-shadow: 0 18px 45px rgba(0, 0, 0, 0.15);
}

.coffee-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
}

.coffee-card h2 {
    font-size: 26px;
    font-weight: 800;
    color: #3a2a22;
    margin-bottom: 10px;
}

.coffee-card p {
    color: #6a523d;
    font-size: 16px;
    line-height: 1.6;
}

@media (max-width: 900px) {
    .coffee-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
}

@media (max-width: 600px) {
    .coffee-grid {
        grid-template-columns: 1fr;
    }

    .coffee-heading h1 {
        font-size: 30px;
    }
}




.reviews-section {
    background: #006b6b;
    color: #fff;
    padding: 0;
    text-align: center;
    position: relative;
}

.wave-top,
.wave-bottom {
    width: 100%;
    display: block;
}

.reviews-content {
    padding: 60px 5%;
}

.reviews-title {
    font-size: 48px;
    font-weight: 800;
    margin-top: 90px;
}

.reviews-subtitle {
    margin-top: 10px;
    font-size: 18px;
    opacity: 0.9;
}

.reviews-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 20px;
}

.review-card {
    width: 400px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    padding: 28px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    scroll-snap-align: center;
    transition: transform 0.3s ease;
}

.review-card:hover {
    transform: translateY(-10px);
}

.review-text {
    font-size: 18px;
    margin: 18px 0;
}

.review-user {
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background: white;
    color: #006b6b;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.star {
    width: 25px;
    fill: gold;
}

.stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-bottom: 15px;
    width: 100%;
}

/* .star {
    display: flex;
    justify-content: center;
    gap: 6px;
    width: 25px;
    fill: gold;
    margin-bottom: 12px;
} */

/* .review-card .star{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
} */
.review-cta {
    margin-top: 50px;
    padding: 14px 36px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background: #fff;
    color: #004f4f;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.review-cta:hover {
    background: #00e6e6;
}

.fade-in {
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.carousel-container {
    position: relative;
    width: 100%;
    padding: 30px 0;
}

.reviews-carousel {
    display: flex;
    gap: 25px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 20px;
    scroll-behavior: smooth;
}

.review-card {
    flex: 0 0 350px;
    scroll-snap-align: center;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    font-size: 28px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    color: #006b6b;
    z-index: 100;
}

.carousel-btn:hover {
    background: #00e6e6;
}

.prev {
    left: 15px;
}

.next {
    right: 15px;
}

.stars {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-bottom: 12px;
}

.star {
    width: 26px;
    fill: gold;
}

/* Mobile View: One Card Per Row */
@media (max-width: 768px) {
    .review-card {
        flex: 0 0 100%;
        max-width: 90%;
    }
}



/* MOBILE: Stack Cards */
@media (max-width: 768px) {
    .reviews-wrapper {
        gap: 20px;
        padding: 0 15px;
        overflow: hidden;
        flex-wrap: wrap;
    }

    .review-card {
        width: 100%;
        margin-bottom: 20px;
        max-width: 100%;
    }
}





.coffee-moments {
    background: #FDF3EA;
    padding: 80px 5%;
    text-align: center;
}

.cm-header h1 {
    font-size: 55px;
    font-weight: 900;
    color: #3A1F11;
}

.cm-subtitle {
    font-size: 18px;
    color: #7a5b4a;
    margin-top: 10px;
    margin-bottom: 50px;
}


.cm-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 35px;
}

.cm-card {
    background: #ffffff;
    border-radius: 18px;
    padding: 18px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    cursor: pointer;
}

.cm-card:hover {
    transform: translateY(-6px);
}

.cm-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 14px;
    margin-bottom: 15px;
}

.cm-msg {
    font-size: 16px;
    color: #4a2b1f;
    margin-bottom: 8px;
    font-style: italic;
}

.cm-user {
    color: #c06a2d;
    font-weight: bold;
}

.bottom-wave {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}


@media (max-width: 768px) {
    .cm-header h1 {
        font-size: 42px;
    }

    .cm-card img {
        height: 220px;
    }
}

.faq-section {
    background: #f3e7df;
    padding: 60px 20px;
    text-align: center;
}

.faq-title {
    font-size: 48px;
    font-weight: 1000 bold;
    margin-bottom: 10px;
    color: black;
}

.faq-subtitle {
    font-size: 16px;
    color: #444;
    margin-bottom: 40px;
}

.faq-container {
    max-width: 850px;
    margin: 0 auto;
    width: 100%;
}


.faq-item {
    margin-bottom: 12px;
    background: #fff;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.faq-question {
    width: 100%;
    padding: 18px 20px;
    font-size: 18px;
    font-weight: 600;
    background: white;
    border: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.faq-answer {
    padding: 0 20px 18px;
    font-size: 16px;
    color: #333;
    display: none;
}


.arrow {
    font-size: 18px;
    transition: transform 0.3s ease;
}

.faq-item.active .arrow {
    transform: rotate(180deg);
}

.faq-item.active .faq-answer {
    display: block;
}

.faq-contact-box {
    text-align: center;
    margin-top: 30px;
    padding: 30px 20px;
    color: black;
}

.faq-contact-box h3 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 8px;
}

.faq-contact-box p {
    font-size: 16px;
    color: #444;
    margin-bottom: 20px;
}


.faq-contact-btn {
    display: inline-block;
    padding: 14px 28px;
    background: #ebe7e3;
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid rgb(239, 167, 32);
    text-decoration: none;
    transition: 0.3s ease;
}

.faq-contact-btn:hover {
    background: #13ebca;
    color: white;
    border: none;
}


@media (max-width: 480px) {
    .faq-contact-box h3 {
        font-size: 22px;
    }

    .faq-contact-btn {
        padding: 12px 24px;
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .faq-title {
        font-size: 30x;
    }

    .faq-question {
        font-size: 16px;
        padding: 16px;
    }

    .faq-answer {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .faq-title {
        font-size: 28px;
    }

    .faq-container {
        padding: 0 5px;
    }

    .faq-question {
        font-size: 15px;
    }
}



.footer {
    background: #0d060a;
    color: white;
    padding: 60px 5%;
    font-family: "Poppins", sans-serif;
}

/* TOP AREA */
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.footer-logo img {
    width: 110px;
}

.footer-nav {
    display: flex;
    gap: 30px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.footer-nav a:hover {
    opacity: 0.7;
}

/* SOCIAL */
.footer-social {
    display: flex;
    gap: 18px;
    font-size: 22px;
}

.footer-social a {
    color: white;
}

.footer-social a:hover {
    opacity: 0.7;
}

/* BOTTOM AREA */
.footer-bottom {
    text-align: center;
    margin-top: 40px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    opacity: 0.8;
}

.footer-links {
    margin-top: 15px;
}

.footer-links a {
    color: white;
    margin: 0 12px;
    font-size: 14px;
    text-decoration: none;
}

.footer-links a:hover {
    opacity: 0.7;
}

/* TAGLINE */
.footer-tagline {
    font-size: 90px;
    font-weight: 800;
    margin-top: 70px;
    margin-bottom: 0;
    letter-spacing: 2px;
}

.footer-tagline sub {
    font-size: 28px;
    vertical-align: top;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .footer-tagline {
        font-size: 60px;
    }
}

@media (max-width: 600px) {
    .footer-top {
        flex-direction: column;
        text-align: center;
        gap: 25px;
    }

    .footer-nav {
        flex-direction: column;
        gap: 12px;
    }

    .footer-tagline {
        font-size: 42px;
    }

    .footer-tagline sub {
        font-size: 18px;
    }
}


.footer-wave {
    margin-top: -10px;
    margin-bottom: -5px;
    width: 100%;
    display: block;
    background: #ffffff;
    transform: rotate(180deg);
}